body{
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  background-color: #272626;
  height: 100vh;
  display: flex;
}
.container{
  max-width: 400px;
  padding: 30px;
  background-color: aliceblue;
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin: auto;
  border-radius: 10px;
}
#Qr-form{
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;
  
}
.text{
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
#Qr-form #input-text{
  padding: 12px;
  border-radius: 5px;
  border: 1px solid;
  font-size: 1rem;
  min-width: 350px;
}
#input-text:focus{
  outline: 2px solid rgb(80, 59, 239);
  border: 1px solid transparent !important;
  box-shadow: 5px 5px 10px #000;
}
#Qr-form #sumbitBtn{
  padding: 12px;
  background-color: #0088ff;
  border: none;
  border-radius: 5px;
  font-size: 1rem;
  color: white;
  font-weight: bold;
  transition: box-shadow 0.1s;
  cursor: pointer;
  width: 100%;
}
#Qr-form #sumbitBtn:hover{
  box-shadow: 3px 3px 10px #000;
}
.qr-img{
  display: none;
  width: 150px;
}